%script{:type => 'text/javascript', :async => 'true', :src => '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }
%ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '9049332797', 'data-ad-format' => 'auto'}
%script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
%div{:style=>'margin-top:10px; display:none'}
  %ins.adsbygoogle{:style => 'display:inline-block;width:320px;height:50px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '3767535193'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:320px;height:50px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '5244268399'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:320px;height:50px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '6721001599'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:320px;height:50px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '8197734795'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:320px;height:50px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '9674467997'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:300px;height:250px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '4926210797'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:336px;height:280px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '9356410395'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:250px;height:250px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '3309876792'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:234px;height:60px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '4786609994'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
  %ins.adsbygoogle{:style => 'display:inline-block;width:320px;height:100px', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '6263343198'}
  %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }