#bottom
  %tbody
    %h4.top-title
      ='今日全国pm2.5十差城市'
    - cities.each do |city|
      = haml :render_by_value, :locals => { :pm2_5 => city[:pm2_5], :position => "#{cities.index(city)+1}.#{city[:area]}" }
    %button.btn.btn-primary.btn-lg
      %span.glyphicon.glyphicon-thumbs-up
        ='10佳城市'
    = haml :footer
