= haml :footer, :locals => { :time => time }
%script{:type => 'text/javascript', :async => 'true', :src => '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }
%ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '9049332797', 'data-ad-format' => 'auto'}
%script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }
%div#baidu_dup_877518
%script{:type => 'text/javascript', :src  => '/javascripts/baidu-ads.js'}
