= haml :footer, :locals => { :time => time }
%script{:type => 'text/javascript', :async => 'true', :src => '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }
%ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '9049332797', 'data-ad-format' => 'auto'}
%div{:style => 'display:none'}
  %ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '3767535193'}
  %ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '5244268399'}
  %ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '6721001599'}
  %ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '8197734795'}
  %ins.adsbygoogle{:style => 'display:block', 'data-ad-client' => 'ca-pub-5345696631493625', 'data-ad-slot' => '9674467997'}
%script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }