%title
  ='微信订阅号#pm2.5查询#'
%body
  #index
    =haml :search_box
    %div.highlight
      %h4
        ='PM2.5简介:'
      %div.para
        %p
          ='细颗粒物又称细粒、细颗粒、PM2.5。细颗粒物指环境空气中空气动力学当量直径小于等于 2.5 微米的颗粒物。它能较长时间悬浮于空气中，其在空气中含量浓度越高，就代表空气污染越严重。虽然PM2.5只是地球大气成分中含量很少的组分，但它对空气质量和能见度等有重要的影响。与较粗的大气颗粒物相比，PM2.5粒径小，面积大，活性强，易附带有毒、有害物质（例如，重金属、微生物等），且在大气中的停留时间长、输送距离远，因而对人体健康和大气环境质量的影响更大。'
      %h4
        ='生成来源:'
      %div.para
        %p
          ='颗粒物的成分很复杂，主要取决于其来源。主要有自然源和人为源两种，但危害较大的是后者。在学术界的分为一次气溶胶（Primary aerosol）和二次气溶胶（Secondary aerosol）两种。'
      %h5
        ='自然源:'
      %div.para
        %p
          ='自然源包括土壤扬尘（含有氧化物矿物和其他成分）海盐（颗粒物的第二大来源，其组成与海水的成分类似）、植物花粉、孢子、细菌等。自然界中的灾害事件，如火山爆发向大气中排放了大量的火山灰，森林大火或裸露的煤原大火及尘暴事件都会将大量细颗粒物输送到大气层中。'
      %h5
        ='人为源:'
      %div.para
        %p
          ='人为源包括固定源和流动源。固定源包括各种燃料燃源，如发电、冶金、石油、化学、纺织印染等各种工业过程、供热、烹调过程中燃煤与燃气或燃油排放的烟尘。流动源主要是各类交通工具在运行过程中使用燃料时向大气中排放的尾气。'
      %h4
        ='危害介绍'
      %div.para
        %p
          ='虽然细颗粒物只是地球大气成分中含量很少的组分，但它对空气质量和能见度等有重要的影响。与较粗的大气颗粒物相比，细颗粒物粒径小，富含大量的有毒、有害物质且在大气中的停留时间长、输送距离远，因而对人体健康和大气环境质量的影响更大。研究表明，颗粒越小对人体健康的危害越大。细颗粒物能飘到较远的地方，因此影响范围较大。'

      %h4
        ='预防方法'

      %div.para
        %h5
          ='1、过滤法'
        %p
          ='包括空调、加湿器、空气清新器等，优点是明显降低PM2.5的浓度，缺点是滤膜需要清洗或更换。'
        %h5
          ='2、水吸附法'
        %p
          ='超声雾化器、室内水帘、水池、鱼缸等，能够吸收空气中的亲水性PM2.5，缺点是增加湿度，憎水性PM2.5不能有效去除。'
        %h5
          ='3、植物吸收法'
        %p
          ='植物叶片具有较大的表面积，能够吸收有害气体和吸附PM2.5，优点是能产生有利气体，缺点是吸收效率低，有些植物会产生有害气体。'

      %h4
        ='生活应对'

      %div.para
        %h5
          ='1、雾霾天气少开窗，最好不出门或晨练'
        %p
          ='雾霾天气不主张早晚开窗通风，最好等月亮出来再开窗通风。雾霾天气是心血管疾病患者的“危险天”，尤其是有呼吸道疾病和心血管疾病的老人，雾天最好不出门，更不宜晨练，否则能诱发病情，甚至心脏病发作，引起生命危险。专家指出，之所以说雾天是心血管疾病患者的“危险天”，是因为起雾时气压高，空气中的含氧量有所升高，人们很容易感到胸闷，早晨潮湿寒冷的雾气还会造成冷刺激，很容易导致食管管痉挛、血压波动、心脏负荷加重等。同时，雾中的一些病原体会导致头痛，甚至诱发高血压、脑溢血等疾病。因此，患有心血管疾病的人，尤其是年老体弱者，不宜在雾天出门，更不宜在雾天晨练，以免发生危险。'
        %h5
          ='2、外出戴专业防尘口罩'
        %p
          ='一般常规口罩不会起到作用，因为颗粒物太细小，KN90，KN95，N95级别的防尘口罩才能有效过滤这类细颗粒物，同时还要选择适合自己的口罩，避免不密合导致周围泄漏。另外，外出归来，应立即清洗面部及裸露的肌肤。比较好的防PM2.5的口罩主要是滤片而不是口罩，比如有活性炭滤片的口罩以及医用口罩是无法防PM2.5的。'
        %h5
          ='3、多喝“清肺除尘”茶饮'
        %p
          ='桐桔梗茶、桐参茶、桐桔梗颗粒、桔梗汤等茶有清火滤肺尘功能，能加强肺泡细胞排出有毒细颗粒物的能力，能协助人体排出体内积聚的PM2.5颗粒物及其他有害物质。'
        %h5
          ='4、少量补充维生素D'
        %p
          ='冬季雾多、日照少，由于紫外线照射太少，人体内维生素D生成不足，有些人还会产生精神压抑、情绪低落等现象，必要时可补充一些维生素D。'
        %h5
          ='5、饮食清淡多喝蜂蜜水'
        %p
          ='雾天的饮食宜选择清淡易消化且富含维生素的食物，多饮水，多吃新鲜蔬菜和水果，这样不仅可补充各种维生素和无机盐，还能起到润肺除燥、祛痰止咳、健脾补肾的作用。少吃刺激性食物，多吃些梨、枇杷、橙子、橘子等食品。'
        %h5
          ='6、深层清洁'
        %p
          ='人体表面的皮肤直接与外界空气接触，很容易受到雾霾天气的伤害。尤其是在繁华喧嚣十面“霾”伏的都市中，除了随时要应对雾霾危“肌”外，由于建筑施工、汽车尾汽、工业燃料燃烧、燃放烟花爆烛等原因造成悬浮颗粒物多，难免会堵塞在毛孔中形成黑头，造成毛孔阻塞、角质堆积、肌肤起皮等肌肤问题，所以自我保护的首要措施就是深层清洁肌肤表层，清洁毛孔。'

        %h5
          ='7、尽量减少吸烟甚至不吸烟'
        %p
          ='烟雾中有大量PM2.5，会对人体有着直接和间接的危害。如果无法阻止周边的人吸烟，那么应该尽量远离烟雾。'

    %img.qrcode{:src => "/images/qrcode.png"}
    = haml :top_last_button

    %p.footer-text#brand-text
      = '微信订阅号#pm2.5查询#'
    %p.footer-text
      = '数据来源 PM25.in'
    %div.modal

    %script{:type => 'text/javascript', :src  => '/javascripts/jquery-2.0.3.min.js'}
    %script{:type => 'text/javascript', :src  => '/javascripts/search.js'}
    %script{:type => 'text/javascript', :src  => '/javascripts/app.js'}
    %script{:type => 'text/javascript', :src  => '/javascripts/google-analytics.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/adsense.js' }

    %p.temp-text
      ='UPDATE: This post is the old way of setting up AdSense with DFP. I no longer recommend this approach because the old limitation of styling and adding AdSense Custom channels no longer exist. You can follow this guide if you want but the new method is easier.Read: How to set up Google AdSense using DFP Small Business build in AdSense option You only need to follow this approach if you want to run Split Tests for specific Ad Units.Create a new Order and name it like" hackday is started at 13th Feb, every team have a free pitch time, to introduce the project and hire volunteers. after they know our project is about a remote control robot, everyone was exciting and crazy (we have photo to be attached) Finally, we got 6 members in melbourne team.REA 正在向中国的用户提供澳洲(意大利等)的房源，从而将业务推向国际化。 作为中国用户，我在网站上看到一个澳洲的房源，但是飞到国外去看一下这个房子，再决定买不买，可能成本有点高？  但是如果不看，只凭借agent的口头介绍，我又觉得不是很踏实，怎么办呢？在这次Hackday中，我们使用Dora完成“在线看房”的点子。除此之外，也许也能用在一些危险环境的探测或者帮助家长了解小孩的动态。例如在幼儿园，家长控制Dora移动到小孩面前，可以同小孩对话，能看到小孩的视频等等。这就有点扯远了。结果，在那天LBS时，经过一番热烈的讨论，大家都对这个点子非常感兴趣。当天就为这个项目起好了名字X-Robot，并定义了基本的业务场景。WebRTC（Web Real-Time Communication）由一套开放的标准、协议和一组JavaScript API构成。2010年，谷歌收购了VoIP软件开发商GIPS(Global IP Solutions)，并获得了视频采集、编解码、网络传输、回音消除等RTC相关技术。2011年6月，谷歌开放了该部分源码，并积极推动该项技术，这奠定了RTC在Web领域发展的基础。WebRTC使浏览器之间能够通过点对点的通信方式，直接完成视频、音频以及数据的实时传输。同时，WebRTC容许开发人员通过调用浏览器支持的API，使用HTML5标签和JavaScript轻松的实现基于Web的音频、视频应用。目前，WebRTC的标准还在不断完善中，W3C、IETF和其他一些浏览器厂商正在积极的推动WebRTC的发展。WebRTC开创了浏览器之间能够直接通信并完成视频或者音频传输的新时代。对于构建开放的、标准的，无插件，免费的视频音频通信应用，迈出了划时代的一步。Page Object是Selenium中提出的一种测试设计模式。在Web前端自动化测试的过程中，Page Object可以称得上是居家必备的良品之一。PageObject将与Web测试页面交互的行为封装在其内部，旨在将每个页面或者相似页面的功能封装，例如页面中需要测试的元素（按钮，输入框，标题等），这样，通过在测试中访问Page类的相应方法来获取页面相应的元素，从而巧妙的避免了当页面元素id或者位置变化时，需要修改测试代码的情况'

