#index
  %h4
    ="请输入城市名称查询PM2.5指数："
  .row
    .col-lg-6
      .input-group
        %input.form-control{:type => 'text', :placeholder => '北京'}
        %span.input-group-btn
          %button.btn.btn-default{:type => 'button'}
            ='Go!'
  .pollution-level
    %table.table.table-bordered
      %thead
        %tr
          %th
            ='PM2.5指数'
          %th
            ='等级'
          %th
            ='注意事项'
      %tbody.table-striped
        %tr.awesome
          %td
            ='0-50'
          %td
            ='优'
          %td
            ='参加户外活动呼吸清新空气'
        %tr.good
          %td
            ='50-100'
          %td
            ='良'
          %td
            ='可以正常进行室外活动'
        %tr.little-polluted
          %td
            ='101-150'
          %td
            ='轻度'
          %td
            ='敏感人群减少体力消耗大的户外活动'
        %tr.medium-polluted
          %td
            ='151-200'
          %td
            ='中度'
          %td
            ='对敏感人群影响较大'
        %tr.highly-polluted
          %td
            ='201-300'
          %td
            ='重度'
          %td
            ='所有人应适当减少室外活动'
        %tr.heavy-polluted
          %td
            ='>300'
          %td
            ='严重'
          %td
            ='尽量不要留在室外'
  %div.highlight
    %h4
      ='PM2.5简介:'
    %p
      ='细颗粒物又称细粒、细颗粒、PM2.5。细颗粒物指环境空气中空气动力学当量直径小于等于 2.5 微米的颗粒物。它能较长时间悬浮于空气中，其在空气中含量浓度越高，就代表空气污染越严重。虽然PM2.5只是地球大气成分中含量很少的组分，但它对空气质量和能见度等有重要的影响。与较粗的大气颗粒物相比，PM2.5粒径小，面积大，活性强，易附带有毒、有害物质（例如，重金属、微生物等），且在大气中的停留时间长、输送距离远，因而对人体健康和大气环境质量的影响更大。'