!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "Description", :content => '微信订阅号:pm2.5查询, 提供全国大多数城市及各监测点的pm2.5指数，城市的pm2.5指数排名'}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "baidu-site-verification", :content => "zZKjekOcuq"}
    %meta{:property => 'wb:webmaster', :content => 'e6346a038073354a'}
    %meta{:name => 'Keywords', :content => "pm2.5,pm2.5查询,pm25,pm2.5 api,空气质量查询,空气质量指数(aqi),空气污染指数,细颗粒物,雾霾,空气质量新标准,颗粒物(粒径小于等于2.5μm),空气质量指数实时报"}
    %meta{:name => 'viewport', :content=>'width=device-width, initial-scale=0.7, maximum-scale=1, minimum-scale=0.7, target-densitydpi=medium-dpi'}
    %link{:href =>'/stylesheets/app.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href =>'/stylesheets/bootstrap.min.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href => '/images/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
    %link{:href => '/images/favicon.ico', :rel => 'shortcut icon', :type => 'image/x-icon' }
    = yield