%div#redirect{:style => 'font-size: large;position: absolute;width: 200px;height: 100px;top: 50%;left: 50%;margin-left: -66px;margin-top: 25px', 'data-src'=> city }
  ='正在跳转，请稍后...'
%script{:type => 'text/javascript', :src  => '/javascripts/redirect.js'}