%div#redirect{:style => 'font-size: 25px;font-weight: bolder;text-align: center;margin-top: 90px;', 'data-src'=> city }
  ='正在跳转...'
%script{:type => 'text/javascript', :src  => '/javascripts/redirect.js'}