%button.btn.btn-success.btn-lg
  %span.glyphicon.glyphicon-thumbs-up
    ='10城市'
%button.btn.btn-danger.btn-lg
  %span.glyphicon.glyphicon-thumbs-down
    ='10城市'

%script{:type => 'text/javascript', :src  => '/javascripts/jquery-2.0.3.min.js'}
%script{:type => 'text/javascript', :src  => '/javascripts/app.js'}
