table {
    width: 100%;
}
#zones {
    padding: 1.2em;
}

#zones .alert {
    margin-bottom: 5px
}

.awesome {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.good {
    color: #77733A;
    background-color: #f0e157;
    border-color: #e9e08f
}

.little-polluted {
    color: #74623C;
    background-color: #f0b778;
    border-color: #e9c9a5
}


.medium-polluted {
    color: #773D3A;
    background-color: #f7807e;
    border-color: #f1a19e
}

.highly-polluted {
    color: #6E3665;
    background-color: #fc7fee;
    border-color: #fa9cf7
}

.heavy-polluted {
    color: #744358;
    background-color: #f255a2;
    border-color: #eb678b
}

.city-title {
    font-family: initial,serif;
    font-weight: bolder;
    font-size: large;
}

p.footer-text {
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
    color: gray;
}

.position-name {
    display: inline;
    margin-right: 3%;
}

.pm25-value {
    display: inline;
    margin-right: 3%;
}

.quality {
    display: inline;
}